{% extends 'base.html' %} {% block content %}

<div class="row">
  <div class="col-lg-3 mb-4">{% include 'dashboards/sidebar.html' %}</div>

  <div class="col-lg-9">
    <h2>All Categories</h2>
    <a
      href="{% url 'add_category' %}"
      class="btn btn-dark text-light float-right mb-2"
      >Add New</a
    >
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Category Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ category.category_name }}</td>
          <td>
            <a href="{% url 'edit_category' category.id %}"
              ><i class="fa fa-edit text-success"></i
            ></a>
            &nbsp;
            <a
              href="javascript:void(0)"
              onclick="openDeleteModal('{% url 'delete_category' category.id %}', '{{ category.category_name|escapejs }}')"
            >
              <i class="fa fa-trash text-danger"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div id="deleteModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <p>
          Do you really want to delete "<span id="displayItemName"></span>"?
          This process cannot be undone.
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <a id="confirmDeleteBtn" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-confirm {
    color: #636363;
    width: 400px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
  }
  .modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
  }
  .modal-confirm .modal-body {
    color: #999;
  }
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
  }
  .modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
  }
  .modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }
  .modal-confirm .btn-secondary {
    background: #c1c1c1;
    color: #fff;
    border-radius: 4px;
    border: none;
  }
  .modal-confirm .btn-danger {
    background: #f15e5e;
    color: #fff;
    border-radius: 4px;
    border: none;
  }
</style>

<script>
  function openDeleteModal(url, name) {
    document.getElementById("displayItemName").textContent = name;
    document.getElementById("confirmDeleteBtn").href = url;
    $("#deleteModal").modal("show");
  }
</script>

{% endblock %}
